[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "timechange"]
	path = timechange
	url = https://github.com/vspinu/timechange
[submodule "unnest"]
	path = unnest
	url = https://github.com/vspinu/unnest
